<h2>Login</h2>

<form [formGroup]="loginForm" novalidate (ngSubmit)="onFormSubmit()">

  <div class="form-group">
    <label for="username">Username:</label><br>
    <input id="username" class="form-control" formControlName="username" type="text"><br>
  </div>
  <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty ||
      loginForm.controls['username'].touched)" class="alert alert-danger">
    <div *ngIf="loginForm.controls['username'].errors?.['required']">
      Username is required.
    </div>
  </div><br>

  <div class="form-group">
    <label>Password:</label><br>
    <input class="form-control" formControlName="password" type="password"><br>
  </div>
  <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty ||
      loginForm.controls['password'].touched)" class="alert alert-danger">
    <div *ngIf="loginForm.controls['password'].errors?.['required']">
      Password is required.
    </div>
  </div><br>

  <button type="submit" [disabled]="loginForm.pristine || loginForm.invalid" class="btn btn-success">
    Login
  </button>
  <p>Don't have an account? <a routerLink="/register" routerLinkActive="active">Sign Up</a></p>
  <router-outlet></router-outlet>
</form>
<br />

